{% extends "layout/header.html" %}

{%block content %}
<section class="content">
<div class="row">
            <div class="col-lg-4 col-xs-6 col-md-offset-2">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{projects|length}}</h3>
                  <p>Total Projects</p>
                </div>
                <div class="icon">
                  <i class="ion ion-cube"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{tasks|length}}</h3>
                  <p>Total Tasks</p>
                </div>
                <div class="icon">
                  <i class="ion ion-paper-airplane"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
</div>
<div class="row">
  <div class="col-md-12"><a href="/addproject" class="btn btn-warning btn-block">Add a Project</a></div>
  <br>
  <br>
  <br>
</div>
<div class="row">
            <div class="col-xs-6">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Your Projects</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">

	{% if projects %}
	{% for p in projects %}
	 <thead>
                      <tr>
                        <th><a href="/{{p.pk}}/viewproject/">{{ p }}</a></th>
                        <th><img src="{{ MEDIA_URL}}{{p.project_img}}" class="img-circle" style="width: 10%; height: 10%"></th>
                        <th>{{ p.createdate}}</th>
                      
                      </tr>
                      
     </thead>
     {% endfor %}
    {% else %}
     <thead>
     	<tr>
     		<th>
     			No Current Projects
     		</th>
     	</tr>
     </thead>
     {% endif %}
   </table>
  </div>
  </div>
  </div>
  
  <div class="col-xs-6">
  	<div class="box">
  		<div class="box-header">
  		<h3 class="box-title">Tasks Assigned</h3>		
  		</div>
  		<div class="box-body">
  			<table class="table table-bordered">

  				{%if tasks %}
  				<tr>
  					<th style="width:10px">#</th>
  					<th>Task</th>
  					<th>Progress</th>
  					<th style="width: 40px">Project</th>
  				</tr>
  				{% for t in tasks %}
          <tr>
  				<th>{{t.pk}}</th>
          <th>{{t.name}}</th>
          {% if t.progress > 0 %}
          <th><div class="progress-xs"><div class="progress-bar progress-bar-red" style="width: {{t.progress}}%;"></div></div></th>
          {% else %}
          <th>Task not started</th>
          {% endif %}
          {% for p in t.project.all %}
          <th>{{p.name}}</th>
          {% endfor %}
          </tr>
  				{% endfor %}
  				{% else %}
  				<tr>Sorry, no tasks </tr>
  				{% endif %}

  			</table>
  		</div>
  	</div>
  </div>	
  <div class="row">
    <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
      <h3 class="box-title">Unconfirmed members</h3>   
      </div>
      <div class="box-body">
        <table class="table table-bordered">

          {%if unconmem %}
          <tr>
            <th>Member</th>
            <th>Project</th>
            <th>Accept</th>
            <th>Reject</th>
          </tr>
          {% for m in unconmem %}
          <tr>
          <th><a href="/{{ m.mempk}}/profile">{{m.memname}}</th>
          <th>{{m.project.name}}</th>
          <th><a href="/{{m.mempk}}-{{m.project.pk}}/accept" class="btn btn-flat btn-success"><i class="fa fa-check"></i></a></th>
          <th><a href="/{{m.mempk}}-{{m.project.pk}}/reject" class="btn btn-flat btn-danger"><i class="fa fa-times"></i></a></th>
          {% endfor %}
          {% else %}
          <tr>No Members bro </tr>
          {% endif %}

        </table>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
    <div class="box">
      <div class="box-header">
      <h3 class="box-title">Threads you've started</h3>   
      </div>
      <div class="box-body">
        <table class="table table-bordered">

          {%if threads_started %}
          <tr>
            <th>Heading</th>
            <th>Started At</th>
            <th>Members posted</th>
          </tr>
          {% for thread in threads_started %}
          <tr>
          <th><a href="/th/{{ thread.pk }}">{{thread.heading}}</th>
          <th>{{thread.posted_at}}</th>
          <th>{{ thread.members.all|length }}</th>
          
          {% endfor %}
          {% else %}
          <tr>No Threads started</tr>
          {% endif %}

        </table>
      </div>
    </div>
  </div>
  </div>

</section>
	
</section>

{% endblock %}